body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rebeccapurple;
}

.outer-box{
    width: 900px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
}

.inner-box{
    width: 350px;
    height: 180px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

h2{
    margin-bottom: 20px;
}

button{
    width: 180px;
    height: 50px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkviolet;
    cursor: pointer;
}